*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#bell-notif {
    color: yellow !important;
    font-size: 1.5rem !important;
    animation: ring 1s infinite ease-in-out;
    position: relative !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    
}

/* Hide by default */
.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

@keyframes ring {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0.5; }

}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px; 
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

body{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body .left-container{
    width: 17%;
    height: 100vh;
    background-image: linear-gradient(to right, #D84315 , #FF5722);

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body .left-container .home-name-div{
    width: 90%;
    height: 100px;
    margin-top:20px;
    background: #8A2C0F;
    border-radius: 10px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body .left-container .home-name-div img{
    width:250%;
    height: 250%;
}

body .left-container .side-bar-route{
    width:100%;
    height: 40%;
    margin-top:-100px;
}

body .left-container .side-bar-route .side-bar-routes{
    width: 100%;
    height: 50px;
    background: #BA3912;
    cursor: pointer;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-top:1px solid #A23210;
    border-bottom:1px solid #A23210;
}

body .left-container .side-bar-route .side-bar-routes:nth-child(1){
    background: #A23210;
    opacity: 1;
    border-left:5px solid white;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
}

body .left-container .side-bar-route .side-bar-routes i,
body .left-container .side-bar-route .side-bar-routes span{
    color:white;
    margin-left:20px;
    font-size: 1rem;
}

body .left-container .side-bar-route .side-bar-routes span{
    font-weight: 600;
}

body .left-container .user-acc-div{
    width:100%;
    height: 100px;
    background: #B83A14;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position:relative;
}

body .left-container .user-acc-div #user-section-span{
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    width:90%;
    height: 50px;
    text-align: center;
    margin-top:10px;

    /* border:1px solid white; */

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .left-container .user-acc-div .vl{
    margin-top:5px;
    height: 10px;
    width:70%;
    background:#E85B30;
    border-radius: 2px;
}

body .left-container .user-acc-div #user-name-span{
    width:80%;
    height: 60px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 0.65rem;
    color:white;
    font-weight: 900;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border:1px solid white; */
}

body .left-container .user-acc-div img{
    position:absolute;
    width: 40px;
    height: 40px;
    right:10px;
    bottom:25px;
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
}

body .right-container{
    width: 83%;
    height: 100vh;

    background: #FFFEFE;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position:relative;   
}

body .right-container .function-bar{
    width:100%;
    height: 40px;
    margin-top:70px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body .right-container .function-bar #burger-icon{
    display: none;
}

body .right-container .function-bar .search-bar{
    width: 70%;
    height: 100%;
    margin-left: 10px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

body .right-container .function-bar .search-bar input{
    width: 93%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top:2px solid #D9D9D9;
    border-bottom:2px solid #D9D9D9;
    border-left:2px solid #D9D9D9;
    border-right:none;
    outline: none;
}

body .right-container .function-bar .search-bar button{
    width: 7%;
    height: 100%;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FF5722;
    color:white;
}

body .right-container .function-bar .cart-div{
    margin-left:5%;
    width: 150px;
    height: 45px;
    position:relative;

    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

body .right-container .function-bar .cart-div #cart-icon{
    /* width: 35%;
    height: 100%; */
    cursor: pointer;
    font-size: 2rem;
    background: #ff5521;
    color:white;
    padding:15px;
    border-radius: 50%;
    text-align: right;
    width:65px;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
}

body .right-container .function-bar .cart-div #notif-value{
    position:absolute;
    top:-15%;
    left:50%;
    background: #8a2c0f;
    color:white;
    border-radius: 50%;
    height: 20px;
    text-align: center;
    width: 25px;
    font-size: 0.8rem;
    font-weight: 900;

    display:none;
    z-index: 10 !important;
}

body .right-container .function-bar .cart-div #item-img-animation{
    position:absolute;
    top:-50%;
    left:0;
    width:50%;
    height: 150%;
    animation: fly_to_cart 2s ease-in-out forwards;
    display:none;
}

@keyframes fly_to_cart {
    0% {
        left: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    45%, 50% {
        left: 55%;
        opacity: 1; /* Still visible */
    }

    70%, 80% {
        transform: scale(0.2);
        opacity: 0;
        display: none; 
    }

    100% {
        opacity: 0;
        visibility: hidden; 
        display: none; 
    }
}

body .right-container .inventory-div{
    width: 90%;
    height: 80%;
    margin-top: 10px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body .right-container .inventory-div .tiles-div{
    width: 250px;
    height: 350px;
    margin:15px;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #FDFDFD;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.2);

    position:relative;
}

body .right-container .inventory-div .tiles-div img{
    width:90%;
    height: 150px;
    margin-top:10px;
    background: #D9D9D9;
    mix-blend-mode: multiply;
}


body .right-container .inventory-div .tiles-div .item-description{
    margin-top:5px;
    width: 90%;
    height:auto;
    max-height: 90px;
    /* border:1px solid red; */
    font-size: 1rem;
    text-align: center;
    font-weight: 900;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration:underline;
}

body .right-container .inventory-div .tiles-div .item-price{
    width: 90%;
    /* height: 50px; */
    /* border:1px solid red; */
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .right-container .inventory-div .tiles-div .function-div{
    width:100%;
    height: 40px;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: #333333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

body .right-container .inventory-div .tiles-div .function-div .add-div{
    width: 40%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* border:1px solid white; */
}


body .right-container .inventory-div .tiles-div .function-div .add-div .current-total-span{
    text-decoration: underline;
    font-size: 1.35rem;
    color:white;
    background: none;
    width: 40px;
    height: 100%;
    text-align: center;
    border:none;
    outline:none;
} 

body .right-container .inventory-div .tiles-div .function-div .add-div .add-btn,
body .right-container .inventory-div .tiles-div .function-div .add-div .minus-btn{
    border:none;
    /* border-radius: 5px; */
    /* padding:0 5px 0 5px; */
    /* font-size: 1.5rem; */
    /* height: 70%; */
    height: 25px;
    width: 25px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1rem;
}


body .right-container .inventory-div .tiles-div .function-div .add-to-cart-btn{
    background: #FF5722;
    border:none;
    color:white;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
    font-weight: 600;
    opacity:0.5;
    pointer-events: none;
}



.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    overflow: hidden;
}
.pagination-controls button, .pagination-controls span {
    margin: 5px;
    margin-top: 15px;
    padding: 2px 12px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}

.pagination-controls #prevPage,
.pagination-controls #nextPage{
    background: #ff5521;
    color:white;
    border-radius: 5px;
}

.pagination-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.pagination-controls .active-page {
    font-weight: bold;
    color: white;
    background: #ff5521;
    
}


#modal-place-order .modal-content{
    width:100%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-place-order .modal-content .modal-header,
#modal-notif .modal-content .modal-header,
#modal-logout .modal-content .modal-header{
    width: 100%;
    height: 50px;
    background: #D84315;
}

#modal-place-order .modal-content .modal-header h5,
#modal-notif .modal-content .modal-header h5,
#modal-logout .modal-content .modal-header h5{
    color:white;
    font-weight: 600;
}

#modal-place-order .modal-content #modal-body-incoming{
    width: 95%;
    height: 600px;
    margin-top:15px;
    overflow: scroll;
}

#modal-place-order .modal-content #modal-body-incoming #cart-table{
    width: 100% !important;
}


#modal-place-order .modal-content #modal-body-incoming #cart-table thead tr th{
    background: #D9D9D9;
    text-align: center;
    height: 40px;
    font-weight: 900;
}

#modal-place-order .modal-content #modal-body-incoming #cart-table thead tr th:nth-child(1){
    display:none;
}


#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr:nth-child(even){
    background: #F2F2F2;
}

#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr td{
    text-align: center;
    height: 40px;
    font-size: 0.9rem;
    font-weight: 600;

    /* border:1px solid red; */
}

#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr .item-id-td{
    width: 10%;
    display:none;
}

#modal-place-order #cart-table tbody tr .item-image-td .item-image-span img{    
    width:150px;
    height: 90px;
}


#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr .item-name-td{
    width: 30%;
}

#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr .item-price-td{
    width: 13%;
}

#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr .item-quantity-td{
    width: 14%;
}

#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr .item-subtotal-td{
    width: 13%;
}

#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr .action-btn-td{
    width: 20%;
}

#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr td .item-quantity-span{
    width: 50px;
    height: 30px;
    border:none;
    text-align: center;
    font-weight: 600;
    border: 2px solid #8c8c8c;
    background: transparent;
    border-radius: 5px;
    outline:none;
}


#modal-place-order .modal-content #modal-body-incoming #cart-table tbody tr .action-btn-td .action-btn-div .update-item-btn{
    opacity: 0.5;
    pointer-events: none;

}

#modal-place-order .modal-content .modal-footer{
    width: 100%;
    height: 50px;
    /* background: #D84315; */
    /* display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding:0;
}

#modal-place-order .modal-content .modal-footer button{
    background: #FF5722;
    border:none;
    border-radius: 5px;
    color:white;
    width:150px;
    height: 30px;
    margin-right:20px;
    font-weight: 600;
}

#modal-place-order .modal-content .modal-footer button:nth-child(1){
    background: #B51E1A;
    width:100px;
}

#modal-notif .modal-content .modal-footer button,
#modal-logout .modal-content .modal-footer button{
    background: #007bff;
    border:none;
    padding:7px;
    color:white;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

@media only screen and (max-width: 480px){
    body{
        position:relative;
    }
    body .left-container{
        display:none;
        position:absolute;
        top:0;
        left:0;
        width: 300px;
        height: 100%;
        z-index: 1000;
    }

    body .right-container{
        width: 100%;
        height: 100vh;
    }
    
    body .right-container .function-bar .search-bar input{
        width: 80%;
    }
    
    body .right-container .function-bar .search-bar button{
        width: 20%;
        font-size: 0.8rem;
    }
    
    body .right-container .function-bar .cart-div{
        margin-right:5%;
    }
    
    body .right-container .inventory-div{
        width: 100%;
        height: 90%;
        overflow: scroll;
    }

    .pagination-controls{
        height: 50px !important;
    }

    .pagination-controls button, .pagination-controls span {
        padding: 2px 6px;
    }

    body .right-container .function-bar #burger-icon{
        display: block;
        color:#ff5521;
        font-size: 2rem;
        margin-left:10px;
        z-index: 2000;
    }
}

@media only screen and (max-height: 800px){
    body .right-container .inventory-div{
        margin-top: 10px;

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    body .right-container .inventory-div .tiles-div{
        width: 200px;
        height: 250px;
        margin:5px;
    }

    body .right-container .inventory-div .tiles-div img{
        height: 100px;
    }

    body .right-container .inventory-div .tiles-div .item-description{
        font-size: 0.7rem;
    }

    body .right-container .inventory-div .tiles-div .item-price{
        font-size: 0.85rem;
    }

    body .right-container .inventory-div .tiles-div .function-div{
        height: 30px;
    }

    body .right-container .inventory-div .tiles-div .function-div .add-div .current-total-span{
        font-size: 1.2rem;
    }
    
    body .right-container .inventory-div .tiles-div .function-div .add-div .add-btn,
    body .right-container .inventory-div .tiles-div .function-div .add-div .minus-btn{
        height: 0;
        width: 0;
        padding:10px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    body .right-container .inventory-div .tiles-div .function-div .add-to-cart-btn{
        padding: 0 10px 0 10px;
        font-size: 0.9rem;
    }

    body .left-container .user-acc-div img{
        position:absolute;
        width: 30px;
        height: 30px;
        right:5px;
        bottom:30px;
        color:white;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
